.social__login
  button(type="button").social__button.social__button--github
    i.fab.fa-github
    | Continue with github
  button(type="button").social__button.social__button--facebook
    i.fab.fa-facebook
    | Continue with facebook