extends layouts/main

block content
  .form__container
    h2.form__title Change Password
    form.form(action=`/users${routes.changePassword}`, method="post")
      label.label(for="current-password") Current Password
      input.input(type="password", id="current-password", name="currentPasswod")
      label.label(for="new-password") New Password
      input.input(type="password", id="new-password", name="newPassword")
      label.label(for="verify-password") Verify Password
      input.input(type="password", id="verify-password", name="verifyPassword")
      button.submit__btn(type="submit") Change password