extends layouts/main

block content
  .form__container
    form(action=routes.editProfile, method="POST")
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatar")
      label(for="name") name
      input(type="text", id="name", placeholder="name")
      label(for="email") email
      input(type="email", id="email", placeholder="email")
      button(type="submit") Update profile
    a.change__password(href=routes.changePassword) Change password
