extends layouts/main

block content
  .form__container
    form(action=routes.editVideo(video.id), method="POST")
      input(type="text", placeholder="Title", name="title", value=video.title)
      textarea(name="description", placeholder="Description")=video.description
      input(type="submit", value="Update Video")
  a.video__delete-button(href=`/videos${routes.deleteVideo}`) Delete video