extends layouts/main

block content
  .form__container
    form(action=routes.join, method="post")
      input(type="email", name="email", placeholder="email")
      input(type="password", name="password", placeholder="password")
      input(type="password", name="password2", placeholder="verify password")
      button(type="submit") Join now
    include ./components/socialLogin