extends layouts/main

block content
  .form__container
    form.form(action=routes.join, method="post")
      input.input(type="email", name="email", placeholder="email" required=true)
      input.input(type="password", name="password", placeholder="password" required=true)
      input.input(type="password", name="password2", placeholder="verify password" required=true)
      button.submit__btn(type="submit") Join now
    include ./components/socialLogin