extends layouts/main

block content
  .form__container
    form.form(action=routes.login, method="post")
      label.label(for="email") Email
      input.input(type="email", id="email", name="email", placeholder="email" required=true)
      label.label(for="password") Password
      input.input(type="password", id="paaword", name="password", placeholder="password" required=true)
      button.submit__btn(type="submit") Sign in
    include ./components/socialLogin