extends layouts/main
include ./mixins/videoBlock

block content
  section.user__container
    .user__wrap
      img.user__img(src=user.avatarUrl)
      h2.user__name=user.name
      if loggedUser && user.id === loggedUser.id
        a.edit-profile(href=`/users${routes.editProfile}`) Edit Profile
    .video__container
      each video in user.videos
        +videoBlock(video)