@import "/config/_variables.scss";
@import "/config/reset.scss";
@import "/components/header.scss";
@import "/components/footer.scss";
@import "/pages/form.scss";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
