.footer {
  text-align: center;
  .footer__text {
    .fa-youtube {
      position: relative;
      margin: 0 2px 0 6px;
      color: $red;
    }

    .fa-youtube:after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: #fff;
      position: absolute;
      top: 5px;
      left: 6px;
      z-index: -1;
    }
  }
}
