mixin videoPlayer(video)
  video(src=`/${video.fileUrl}`)
  .video__controls
    .video__controls--column
      span#volume-btn
        i.fas.fa-volume-up
      span
        |00:00/10:00
    .video__controls--column
      span#play-btn
        i.fas.fa-play
    .video__controls--column
      span#fullscreen-btn
        i.fas.fa-expand