mixin videoPlayer(video)
  video(src=`/${video.fileUrl}`)
  .video__controls
    .video__controls--column
      span#volume-btn
        i.fas.fa-volume-up
      span
        span#current-time 00:00:00
        span#total-time 00:00:00
    .video__controls--column
      span#play-btn
        i.fas.fa-play
    .video__controls--column
      span#fullscreen-btn
        i.fas.fa-expand